html, body, #wrap, #block {
  height: 99%;
  overflow: hidden;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  text-align: center;
}
#chart {
  width: 100%;
  top: 30px;
}
#chart, #credits {
  opacity: 0;
  position: absolute;
  font-size: 70%;
  bottom: 0;
}
#block, #loading {
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
#wrap_options {
  text-align: center;
}
#options {
  opacity: 0;
  display: inline-block;
}
