html, body, #wrap, #block {
  overflow: hidden;
  text-align: center;
}
#chart {
  width: 100%;
  top: 30px;
}
#chart, #credits {
  opacity: 0;
  position: absolute;
  font-size: 70%;
  bottom: 0;
}
#block, #loading {
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
#options {
  opacity: 0;
  display: inline-block;
}
#kmatch {
  display: none;
}
#infolink {
  color: blue;
  text-decoration: underline;
  cursor: default;
}
#info {
  display: none;
  margin: auto;
  position: absolute;
  background-color: white;
  text-align: left;
}
.ui-autocomplete {
  text-align: left;
  max-height: 90%;
  max-width: 50%;
  overflow-y: auto;
  overflow-x: hidden;
}
.ui-menu-item {
  list-style-image: none !important;
}
.ui-widget {
  font-family: initial !important;
}
.ui-widget-content {
  background-image: none !important;
}
